.image{
  height:90em; background-size:cover; width:auto;
  background-image:url('https://image.shutterstock.com/image-vector/cooking-pattern-your-design-works-260nw-768449995.jpg');
  background-position:50% 50%;
}
